body{
  background: rgb(0, 0, 68);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0;
  padding: 0;

  .center-me{
    width: 60%;
    color: snow;
    margin-top: 5%;

    .title{
      display: flex;
      justify-content: center;

       h1{
        margin: 0;
       }
    }
      .moving-elements{
        height: 50px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(19, 30, 66) ;

        button{
          height: 25px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 15px;
          margin: 15px;
          background-color: #111;
          color: red;
        }
        h2{
          font-size: 20px;
        }
      }
     main{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0px;
  }

  app-square{
  background-color:aquamarine;
  border: 1px solid rgb(0, 0, 0);
  height: 150px;
}
 }
}

@media screen and(max-width: 520px) {
  body{
  .center-me{
    width: 100% !important;

    .moving-elements{
      height: 100px !important;

      button{
        height: 70px !important;
      }
    }
  } }


}
